
body, html {
  height: 100%;
  margin: 0;
  width:100% !important;
  background:black;
  color: #777;
  overflow-x: hidden;
  
}


/*navbar*/
#mainNavbar{
  
  width:100vw;
}
.changeBg{
  background-color:red;
  color:red;
}

.navbra-toggle{
  padding-right:10px;
}
.navbar{
  position:relative
  background:yellow;
  padding:5px;
  width:100%;
  overflow-x:hidden;
}
.navbar-default{
  background: none;
  border-color: rgba(0,0,0,0);
  
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: red;
    background-color: transparent;
}
a{
  color:white;
  font-size:17px;
  font-weight:100;
  position:relative;
  left:30px;
}

a:hover{
  color:red;
}
.navbar-brand{
  color:white;
  font-size:25px;
  font-weight:200;
  position:relative;
  left:10px;
}

/*banner-area*/


.heading-main{
  font-weight: 600;  /*for bold*/
  font-size:5em; 
  letter-spacing: 2px;
}

.bg {
  /* The image used */
  background-image: url(https://source.unsplash.com/P1qyEf1g0HU);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}



.contain{
  text-align: center;
  padding-top:25%;
  text-shadow:0px 4px 2px rgba(0,0,0,0.4);
      

}

.classs{
  background: white;
}

h1{
  font-weight: 700;  /*for bold
  font-size:5em;   /* for size of text*/
}




hr{width:400px;
border-top: 1px solid #f8f8f8;
border-bottom:1px solid rgba(0,0,0,0.2);

}
/*media*/

@media only screen and (max-width:768px){

  .heading-main{
    font-weight: 500;  /*for bold*/
    font-size:3em; 
    letter-spacing:1.5px;
  }

  .bg {
    /* The image used */
    background-image: url(https://source.unsplash.com/P1qyEf1g0HU);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
  }



  .contain{
    text-align: center;
    padding-top:45%;
    text-shadow:0px 4px 2px rgba(0,0,0,0.4);
        

  }

  .classs{
    background: white;
  }

  h1{
    font-weight: 700;  /*for bold
    font-size:5em;   /* for size of text*/
  }




  hr{width:200px;
  border-top: 1px solid #f8f8f8;
  border-bottom:1px solid rgba(0,0,0,0.2);

  }
}
/* media small devices */
@media only screen and (max-width:480){
  .heading-main{
    font-weight: 500;  /*for bold*/
    font-size:3em; 
    letter-spacing:1.5px;
  }

  .bg {
    /* The image used */
    background-image: url(https://source.unsplash.com/P1qyEf1g0HU);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
  }



  .contain{
    text-align: center;
    padding-top:55%;
    text-shadow:0px 4px 2px rgba(0,0,0,0.4);
        

  }

  .classs{
    background: white;
  }

  h1{
    font-weight: 700;  /*for bold
    font-size:5em;   /* for size of text*/
  }




  hr{width:200px;
  border-top: 1px solid #f8f8f8;
  border-bottom:1px solid rgba(0,0,0,0.2);

  }

}
/*parallax*/

.parallax{
  position: relative;
  top:200px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://source.unsplash.com/P1qyEf1g0HU");
  min-height: 100%;
  position:relative;
  top:-250px;
}

.bgimg-2 {
  background-image: url("https://source.unsplash.com/1WBN-JKSmKI");
  min-height: 400px;
}
.themeimg{
  height:250px;
  width:350px;
}
.bgimg-3 {
  background-image: url("https://source.unsplash.com/gEN5Btvf2Eg");
  min-height: 550px;
  position:relative;
  top:-20px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 1.5em "Lato", sans-serif;
  color: #111;
}

 /*Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}


.banner-area{
  position: relative;
  background:url(https://source.unsplash.com/P1qyEf1g0HU);
  width:100%;
  height:100vh;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  background-size: cover;
}

.about-area, .schedule-arrea , .problem-area, {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width:100%;
  height: 700px;
}

/*about-area*/
.about{
  font-family: Montserrat,sans-serif;
    font-size: 1.6rem;
}
.aboutheevent{
  position:relative;
  top:-180px;
}
.about-content{
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
.imgs{
  position: relative;
  top:10px;
}

.imgtexts{
  font-weight:bolder;
  position: relative;
  top:10px;
  color:black;
}
.heading{
  width:400px;
  border-top: 1.5px solid black;
  border-bottom:1.5px solid rgba(0,0,0,0.2);
}
.headings{
  font-size:50px;
  font-weight: 300px;
}


.headings2{
  font-size:50px;
  font-weight: 300px;
  color:white;
}
/*media*/

@media only screen and (max-width:768px){

  .caption span.border {
  background-color: #111;
  color: #fff;
  padding: 8px;
  font-size: 140%;
  letter-spacing:3px;
  }

  .about{
    font-family: Montserrat,sans-serif;
      font-size:120%;
      margin:0;  
      }

  .aboutheevent{
    position:relative;
    top:-180px;
  }

  .imgs{
    position: relative;
    top:10px;
  }

  .imgtexts{
    font-weight:bolder;
    position: relative;
    top:10px;
    color:black;
  }
  .heading{
    width:200px;
    border-top: 1.5px solid black;
    border-bottom:1.5px solid rgba(0,0,0,0.2);
  }
  .headings{
    font-size:280%;
    font-weight:400px;
    padding-bottom: 5px;
  }


  .headings2{
    font-size:50px;
    font-weight: 300px;
    color:white;
  }

  .about-content{
    color: #777;
    background-color:white;
    text-align:center;
    padding:40px 30px;
    text-align: justify;
  }

}

/*schedule-area*/




.container-schedule{
  
  border-radius:20px;
}


.schedule-2{
  margin-top:5px;
}
.winnerimg{
  height:80px;
  width:80px;
}









/*contact-area*/

  #contact{
    background: black;
  }
 .contact-area{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width:100%;
  height:300px;
  background: black;

 }
.maincontent{
  position: relative;
  top:200px;
}




.footer-section {
  background: #000000;
  padding-top: 50px;
}

.fs-about {
  margin-bottom: 30px;
}

.fs-about .fa-logo {
  margin-bottom: 30px;
}

.fa-logo{

  text-align: center;
}
.fs-about .fa-logo a {
  display: inline-block;
}

.fs-about p {
  line-height: 26px;
  color: #c4c4c4;
}

.fs-about .fa-social a {
  font-size: 14px;
  color: #c4c4c4;
  margin-right: 10px;
}

.fs-about .fa-social a:last-child {
  margin-right: 0;
  text-align: center;

}

.fs-info{
  position:relative;
  left:30px;
  margin-bottom: 30px;
  text-align:center;
  top:-10px;
  /*line-height:30px;*/
}
.icons{

  margin:8px 4px 4px 4px;
}
.fs-widget h4 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 18px;
  text-align: center;
}


.fs-widget .fw-recent {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1a1a1a;
}

.fs-widget .fw-recent:last-child {
  padding-bottom: 0;
  border: none;
}

.fs-widget .fw-recent h6 {
  margin-bottom: 6px;
}

.fs-widget .fw-recent h6 a {
  color: #c4c4c4;
  letter-spacing: 0.5px;
}

.fs-widget .fw-recent ul li {
  font-size: 12px;
  color: #4d4d4d;
  display: inline-block;
  margin-right: 25px;
  position: relative;
}

.fs-widget .fw-recent ul li:last-child:after {
  display: none;
}

.fs-widget .fw-recent ul li:after {
  position: absolute;
  right: -16px;
  top: 0;
  content: "|";
}

.fs-icons{
  margin-top:10px;
 position: relative;
 left: -25px;
  text-align: center;
}
.copyright-text {
  font-size: 14px;
  color: #c4c4c4;
  letter-spacing: 0.5px;
  border-top: 1px solid #1a1a1a;
  padding: 25px 0;
  margin-top: 15px;
}

.copyright-text a,
.copyright-text i {
  color: #f36100;
}

.contactspan{
  display: block;
  text-align: center;
  font-size: 16px;

}
.contactspan:hover{
  color:orange;
  font-size:1.5rem;
}

.navbar-fixed-top.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}


@media (max-width:768px) {

   
   .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    height:300px;
    background: black;

   }
  .maincontent{
    position: relative;
    top:200px;
  }




  .footer-section {
    background: #000000;
    padding-top: 50px;
  }

  .fs-about {
    margin-bottom: 30px;
  }

  .fs-about .fa-logo {
    margin-bottom: 30px;
  }

  .fa-logo{

    text-align: center;
  }
  .fs-about .fa-logo a {
    display: inline-block;
  }

  .fs-about p {
    line-height: 26px;
    color: #c4c4c4;
  }

  .fs-about .fa-social a {
    font-size: 14px;
    color: #c4c4c4;
    margin-right: 10px;
  }

  .fs-about .fa-social a:last-child {
    margin-right: 0;
    text-align: center;

  }

  .fs-info{
    position:relative;
    left:0px;
    margin-bottom: 30px;
    text-align:center;
    top:-5px;
    /*line-height:30px;*/
  }
  .icons{

    margin:8px 4px 4px 4px;
  }
  .fs-widget h4 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 18px;
    text-align: center;
  }


  .fs-widget .fw-recent {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #1a1a1a;
  }

  .fs-widget .fw-recent:last-child {
    padding-bottom: 0;
    border: none;
  }

  .fs-widget .fw-recent h6 {
    margin-bottom: 6px;
  }

  .fs-widget .fw-recent h6 a {
    color: #c4c4c4;
    letter-spacing: 0.5px;
  }

  .fs-widget .fw-recent ul li {
    font-size: 12px;
    color: #4d4d4d;
    display: inline-block;
    margin-right: 25px;
    position: relative;
  }

  .fs-widget .fw-recent ul li:last-child:after {
    display: none;
  }

  .fs-widget .fw-recent ul li:after {
    position: absolute;
    right: -16px;
    top: 0;
    content: "|";
  }

  .fs-icons{
    margin-top:10px;
   position: relative;
   left: -25px;
    text-align: center;
  }
  .copyright-text {
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: 0.5px;
    border-top: 1px solid #1a1a1a;
    padding: 25px 0;
    margin-top: 15px;
  }

  .copyright-text a,
  .copyright-text i {
    color: #f36100;
  }

  .contactspan{
    display: block;
    text-align: center;
    font-size: 16px;

  }
  .contactspan:hover{
    color:orange;
    font-size:1.5rem;
  }
}


.navbar-toggle{
  background:black;
  background-image:;
}


/*animations*/

.bounceInLeft{
  animation:bounceInLeft 1s;
}
.abouttheevent:hover{
    animation:bounceInLeft 1s;
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.bounceInRight{
  animation:bounceInRight 1s;
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.bounceInDown{
  animation:bounceInDown 1s;
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
 
    transform: translateY(30px);
  }

  80% {
    
    transform: translateY(-10px);
  }

  100% {

    transform: translateY(0);
  }
}
.bounceInUp{
  animation:bounceUp 1s;
  animation-iteration-count: 1;
  
}

@keyframes bounceUp {
  0% {
    opacity: 0;

    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
  
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.bounceOut{
  animation:bounceOut 1s;
}

@keyframes bounceOut {
  0% {

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }
}


/*cards*/


.boxesContainer{
  margin-bottom:300px;
}
@media (max-width:768px){
  .boxesContainer{
  margin-bottom:650px;
}
}
@media (max-width:480px){
  .boxesContainer{
  margin-bottom:1070px;
}
}
.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 30.3%;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

 
}


.cardBox:nth-child(1):hover .card {
  transform: rotate3d(-1, 1, 0, 180deg);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardBox:nth-child(2):hover .card {
  transform: rotate3d(1, -1, 0, 180deg);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardBox:nth-child(3):hover .card {
  transform: rotate3d(-1, 1, 0, 180deg);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardBox:nth-child(4):hover .card {
  transform: rotate3d(1, -1, 0, 180deg);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  background: #222;
  cursor: crosshair;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  border-radius:10px;
  box-shadow: -1rem 0 3rem #000;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card-p{
  font-size:90%;
  text-align:start;
  padding:3% 5% 0 5%;
  
}
.back h3{
  font-size:110%;
  font-weight: 600;
  letter-spacing:0.5px;
  
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 00%;
  /* padding: 0.8em; */
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius:10px
}

.card .front{
  background:#17141d;
}
.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}
h3 span{
  display: block;
}
.card:nth-child(1) .back {
  transform: rotate3d(-1, 1, 0, 180deg);
}
.card:nth-child(2) .back {
  transform: rotate3d(1, -1, 0, 180deg);
}
.card:nth-child(3) .back {
  transform: rotate3d(-1, 1, 0, 180deg);
}
.card:nth-child(4) .back {
  transform: rotate3d(1, -1, 0, 180deg);
}
.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.bar {
  position: relative;
  top: 10px;
  left:10%;
  height: 5px;
  width: 180%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}



.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: orange;
}

.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
  background: tomato;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

/*@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}
*/
@media screen and (max-width: 768px) {


  .cardBox:last-child {
    margin-bottom: 3%;
  }
  .cardBox {
  float: left;
  font-size: 1.2em;
  margin:3% 15%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 70%;

 
}

.card-p{
  font-size:70%;
  text-align:start;
  padding:2% 4% 0 4%;
}
.back h3{
  font-size:100%;
  font-weight: 600;
  letter-spacing:0.5px;
  
}

.card {
  background: #222;
  cursor: crosshair;
  height: 285px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  border-radius:10px;
  box-shadow: -1rem 0 3rem #000;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  /* padding: 0.8em; */
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius:10px
}

.card .front{
  background:#17141d;
}
.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}
h3 span{
  display: block;
}
.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.bar {
  position: absolute;
  top: 100px;
  left:10%;
  height: 5px;
  width: 80%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}


}

@media screen and (max-width: 480px) {

  .cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 94.5%;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom:10px;
 
}



.cardBox:hover .card {
  transform: rotateY( 180deg);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  background: #222;
  cursor: crosshair;
  height: 260px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  border-radius:10px;
  box-shadow: -1rem 0 3rem #000;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  /* padding: 0.8em; */
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius:10px
}

.card .front{
  background:#17141d;
}
.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}
h3 span{
  display: block;
}
.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.bar {
  position: absolute;
  top: 100px;
  left:10%;
  height: 5px;
  width: 80%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 120px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: orange;
}

.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
  background: tomato;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}
}

/*faq-area*/
.faq-area{
  background:rgb(17, 85, 67);
  margin-top:-20px;
}

.faq-row{
  padding:5%;
}

.questions{
  font-size: 16px;
  padding-left:3%;
}
.faq-line{
  width:100%;
}



#faq a {
    color: white;
    transition: 0.5s;
    text-decoration: none;
    left:0px;
    font-size: 16px;
}

#faq a:hover {
    color: #63C132;
    outline: none;
    text-decoration: none;
}

#faq {
    padding: 80px 0 60px 0;
    background: rgba(13, 20, 41, 0.8);
}

#faq h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

#faq #faq-list {
    padding: 0;
    list-style: none;
}

#faq #faq-list li {
    border-bottom: 2px solid rgb(255, 85, 67);
}

#faq #faq-list a {
    padding: 18px 0;
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    /* font-weight: 600; */
    padding-left: 5px;
    padding-right: 30px;
}

#faq #faq-list i {
    font-size: 24px;
    position: absolute;
    margin-right: 5px;
    right: 0;
    top: 16px;
}

#faq #faq-list p {
    margin-bottom: 20px;
    color: #FFF;
}

#faq #faq-list a.collapse {
    color: #00FFC5;
}

#faq #faq-list a.collapsed {
    color: #FFF;
}

#faq #faq-list a.collapsed i::before {
    content: "\f055" !important;
}

#faq #faq2-list {
    padding: 0;
    list-style: none;
}

#faq #faq2-list li {
    border-bottom: 2px solid #00FFC5;
}

#faq #faq2-list a {
    padding: 18px 0;
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    /* font-weight: 600; */
    padding-left: 5px;
    padding-right: 30px;
}

#faq #faq2-list i {
    font-size: 24px;
    position: absolute;
    margin-right: 5px;
    right: 0;
    top: 16px;
}

#faq #faq2-list p {
    margin-bottom: 20px;
    color: #FFF;
}

#faq #faq2-list a.collapse {
    color: #63C132;
}

#faq #faq2-list a.collapsed {
    color: #FFF;
}

#faq #faq2-list a.collapsed i::before {
    content: "\f055" !important;
}


/*theme cards*/

.themes-main1{
  padding-bottom: 10%;

}
.themes-main1{
  margin-top: 10%;

}
.boxesContainer{
  margin-bottom:300px;
}
@media (max-width:768px){
  .boxesContainer{
  margin-bottom:1200px;
}
}
@media (max-width:480px){
  .boxesContainer{
  margin-bottom:1000px;
}
}

.cardBox1 {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 30.3%;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

 
}


.card {
  background: #222;
  cursor: crosshair;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  border-radius:10px;
  box-shadow: -1rem 0 3rem #000;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}


.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  /* padding: 0.8em; */
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius:10px
}

.card .front{
  background:#17141d;
}
.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}
h3 span{
  display: block;
}
.card:nth-child(1) .back {
  transform: rotate3d(-1, 1, 0, 180deg);
}
.card:nth-child(2) .back {
  transform: rotate3d(1, -1, 0, 180deg);
}
.card:nth-child(3) .back {
  transform: rotate3d(-1, 1, 0, 180deg);
}
.card:nth-child(4) .back {
  transform: rotate3d(1, -1, 0, 180deg);
}
.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.bar {
  position: absolute;
  top: 100px;
  left:10%;
  height: 5px;
  width: 80%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}


.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}


.cardBox1:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox1:nth-child(2) .card .back {
  background: orange;
}

.cardBox1:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox1:nth-child(4) .card .back {
  background: tomato;
}

.cardBox1:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox1:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox1:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 768px) {


  .cardBox:last-child {
    margin-bottom: 3%;
  }
  .cardBox {
  float: left;
  font-size: 1.2em;
  margin:3% 15%;
  padding-bottom:20px;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 70%;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 
}



.card {
  background: #222;
  cursor: crosshair;
  height: 350px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  border-radius:10px;
  box-shadow: -1rem 0 3rem #000;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}
.card-p{
  font-size:90%;
}
.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  /* padding: 0.8em; */
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius:10px
}

.card .front{
  background:#17141d;
}
.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}
h3 span{
  display: block;
}
.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.bar {
  position: absolute;
  top: 100px;
  left:10%;
  height: 5px;
  width: 80%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: orange;
}

.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
  background: tomato;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}
}

@media screen and (max-width: 480px) {

  .cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  width: 98.5%;

  margin-bottom:10px;
 
}





.card {
  background: #222;
  cursor: crosshair;
  height: 310px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  border-radius:10px;
  box-shadow: -1rem 0 3rem #000;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  /* padding: 0.8em; */
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius:10px
}
.card-p{
  font-size:85%
}
.card .front{
  background:#17141d;
}
.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}
h3 span{
  display: block;
}


.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.bar {
  position: absolute;
  top: 100px;
  left:10%;
  height: 5px;
  width: 80%;
}



.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}


.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}


.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}
}


/*prixe-area*/

.headings-p{
  font-size:50px;
  letter-spacing:2px;
  position:relative;
  top:40px;
  
}

.container-prizes{

}

.cardBox-prize{
  float: left;
  font-size: 1.2em;
  margin:5% 4%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 24.3%;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

.card-prize{
  background: white;
  cursor: crosshair;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  
  box-shadow: -1rem 0 3rem #000;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}
.cardBox-prize .card-prize:hover{
  -webkit-animation:scale(1.1);
}

/*media*/
@media (max-width:768px){
  .bgimg-3{
    min-height: 1200px;
  }
  .cardBox-prize{
    width:60%;
    margin:2% 20%;
    position:relative;
    top:20px
  }
}

@media (max-width:480px){
  .bgimg-3{
    min-height: 1200px;
  }
  .cardBox-prize{
    width:70%;
  margin:3% 15%
  }
}
